<div class="w-full">
  <p>
    To install your map, simply copy and paste the following HTML code to your website:
  </p>
  <div class="code--multiline">
    <code>
      <%=
        %(<iframe src="#{map_url(map_hashid)}" allow="geolocation" title="Map by mapzy.io" loading="lazy" referrerpolicy="no-referrer" height="600px" width="100%"></iframe>)
      %>
    </code>
  </div>
  <div class="py-4">
    <h3>💡 How to change the size of my map?</h3>
    <p>
      You can change the values of <code>height</code> and <code>width</code> attributes to make your embedded map bigger or smaller.
      These are standard HTML attributes: they can take fixed pixel values (e.g., <code>height=600px</code>) or variable percentage values (e.g., <code>width="100%"</code>).
      <br>Read more about changing the size of your map in our <a href="https://docs.mapzy.io/embedding-options/height-and-width">docs</a>.
    </p>
  </div>
  <div class="py-4">
    <h3>💡 How to avoid accidental zooms?</h3>
    <p>
      By default, your visitors can zoom in and out on the map when they scroll. In some cases, this is not ideal. For example, if your embedded map takes the full width of your page.
      You can prevent accidental zooms by changing the <code>src</code> attribute above to
      <code><%= %(src="#{map_url(map_hashid)}?no_accidental_zoom=true") %></code>.<br>
      Read more about disabling accidental zooms in our <a href="https://docs.mapzy.io/embedding-options/disable-accidental-zoom">docs</a>.
    </p>
  </div>

  <p class="py-2">
    Find more embedding options in our <a href="https://docs.mapzy.io/getting-started/installing-your-map">docs</a>.
    You can also contact us at <a href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a> if you need any help.
  </p>
</div>