<div class="w-full">
  <p>
    Copy and paste the following HTML code to your website:
  </p>
  <div class="p-4 bg-gray-900 rounded my-4 w-full text-white text-sm">
    <code>
      <%=
        %(<iframe src="#{map_url(map_hashid)}" allow="geolocation" title="Map by mapzy.io" loading="lazy" referrerpolicy="no-referrer" height="600px" width="100%"></iframe>)
      %>
    </code>
  </div>
  <p class="pt-1">
    💡 Pro tip: to change the size of the displayed map, simply change the values of <code>width</code> and <code>height</code>.
  </p>

  <p class="pt-4">
    Contact us at <a href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a> if you need any help. We'd be happy to!
  </p>
</div>