<div class="w-full">
  <p>
    Copy and paste the following HTML code to your website, where you want to display the map.
  </p>
  <div class="p-4 bg-gray-900 rounded my-4 w-full text-white text-sm">
    <code>
      <%=
        %(<iframe src="#{map_url(map_hashid)}" title="Map by mapzy.io" loading="lazy" referrerpolicy="no-referrer" height="600px" width="100%"></iframe>)
      %>
    </code>
  </div>
  <p class="pt-2">
    Tip: After pasting you can change the values for <code>width</code> and <code>height</code>
    to change the size of the displayed map.
  </p>

  <p class="pt-2">
    Contact us at <a href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a> if you need help with embedding.
  </p>
</div>