<div class="flex flex-col w-full justify-center items-start mb-6">
  <p>
    <% case current_user.account.status
       when "trial" %>
      Your trial ends on <%= current_user.account.trial_end_date.strftime("%b %-d, %Y") %>
      and your map will be set to inactive. Make sure to subscribe to
      one of our plans before that.
    <% when "inactive" %>
      Your subscription is currently inactive. You can restart it by choosing a plan below.
    <% end %>
  <p>
  <div class="flex flex-col md:flex-row justify-center items-center my-4 w-full">
    <%= render "pricing_detail", name: "Mini", locations: "20", price: "9" %>
    <%= render "pricing_detail", name: "Medium", locations: "100", price: "29" %>
    <%= render "pricing_detail", name: "Maxi", locations: "Unlimited", price: "49" %>
  </div>
  <div class="text-base mt-4">
    Your subscription renews automatically until canceled. If you cancel your subscription, you can still use your maps until the end of your billing period and after that we'll set them offline.
  </div>
</div>