<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 w-full text-lg">
    <h2 class="py-4">Install map</h2>

    <div class="max-w-3xl">
      <div class="w-full mx-2 my-2 md:mb-12 p-4">
        <%= render partial: "embed_code", locals: { map_hashid: current_user.map.hashid }  %>
      </div>
    </div>
  </div>
<% end %>
