<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 w-full text-lg">
    <h1 class="mt-12 mb-8"><span class="underline-red">Embed Map</span></h1>

    <div class="max-w-prose">
      <div class="w-full mx-2 my-2 md:mb-12 p-4">
        <%= render partial: "embed_code", locals: { map_hashid: current_user.map.hashid }  %>
      </div>
    </div>
  </div>
<% end %>
