<%= render "dashboard/layouts/main" do %>
  <div class="flex flex-col justify-center items-center p-4 w-full text-lg">
    <h2 class="py-4">Install map</h2>

    <div class="max-w-3xl">
    <%= render "account_box" do %>
        <%= render partial: "embed_code", locals: { map_id: current_user.map.id }  %>
      <% end %>
    </div>
  </div>
<% end %>
