<div class="flex flex-row justify-center m-4">
  <button class="button--main w-1/6 mx-4 p-4 text-base font-semibold">
    <%= link_to "ðŸ“Add Location", new_dashboard_map_location_path(@map.id ) %>
  </button>

  <button class="button--main w-1/6 mx-4 p-4 text-base font-semibold">
    ðŸš€ Go Live
  </button>
</div>