<div class="flex flex-row justify-center m-4">
  <%= link_to "ðŸ“ Add Location", new_dashboard_map_location_path(@map),
        class: "button--bottom-menu w-1/6 mx-4 p-4 text-base font-semibold" %>
  <%= link_to "ðŸš€  Go Live", nil,
        class: "button--bottom-menu w-1/6 mx-4 p-4 text-base font-semibold" %>
</div>