<div class="flex items-center justify-center w-full p-6">
  <%= link_to "Add Location", new_dashboard_map_location_path(@map),
    class: "button--bottom-menu mx-4 text-base font-semibold shadow-md" %>
</div>