<div
  data-embed-target="embedCode"
  class="absolute w-full md:w-96 bg-white shadow-md rounded
        top-O bottom-0 md:top-0 md:bottom-0 md:right-0 h-1/2 md:h-auto z-20 p-4 hidden"
>
  <h1 class="text-left text-xl pb-3">Your Embed Code</h1>
  <p>
    Copy and paste this HTML to your website where you want to display your map.
  </p>
  <div class="p-2 bg-gray-900 rounded my-4 w-full text-white">
    <code>
      <%=
        %(<iframe src="#{map_url(map_id)}" title="Map by mapzy.io" loading="lazy" referrerpolicy="no-referrer" height="600px" width="100%"></iframe>)
      %>
    </code>
</div>
<p>
  Tip: After pasting you can change the values for <code>width</code> and <code>height</code>
  to change the size of the displayed map.
</p>

<p>
  Contact us at <a href="mailto:bonjour@mapzy.io">bonjour@mapzy.io</a> if you need help with embedding.
</p>