<% content_for :head_additional do %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">

  <!-- Promise polyfill script is required -->
  <!-- to use Mapbox GL Geocoder in IE 11. -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<% end %>

<% content_for :main do %>
  <%= javascript_pack_tag 'mapbox' %>

  <div class="flex flex-row p-6 w-full h-screen">
    <div class="h-full w-96 bg-gray-200 p-12 rounded shadow-md">
      <div class="text-lg text-center">
        Sag's Love Den
      </div>
      <div class="text-base mt-8">
        Rue de la Popo 12 <br />
        12390 Paris
      </div>
    </div>
    <div class="h-full w-full rounded-r" id="map" data-mapbox-access-token="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"></div>
  </div>
<% end %>