<div class="w-screen h-screen">
  <%= render "shared/map" do %>
      <%= link_to "https://mapzy.io/?source=embedded", class: "cursor-pointer", target: "_blank" do %>
        <div class="absolute bottom-2 left-2 z-0 h-[1.4rem] w-24 md:h-[1.6rem] bg-contain 
                    bg-no-repeat bg-[url('logo_white_border_sidetext_transparent.svg')] 
                    hover:bg-[url('logo_sidetext_transparent.svg')]"> 
        </div>
      <% end %>
  <% end %>
</div>