<p>
  Hello there 👋
</p>
<p>
  We hope that you are enjoying your Mapzy trial.<br> <br>
  Here's a quick reminder that your trial ends <b>tomorrow</b>.
  At that time, your embedded map will no longer be available. <br>
  If you want to continue using Mapzy, make sure to subscribe to
  <a href="<%= dashboard_account_settings_url %>">one of our plans</a> before that.<br><br>
  If you have any questions, simply reply to this email.
</p>
<p>
  Best regards<br>
  Sag and Can from Mapzy
<p>
