<p>
  Hello there  👋
</p>
<p>
  Welcome to Mapzy! <br><br>
  Your 14-day trial has now started. You have access to all features.<br><br>
  Getting started with your map is pretty simple. Just log in to
  <a href="<%= new_user_session_url %>">your account</a> and start
  adding locations to your map. Once you're done, click "Go Live" and copy and paste the
  displayed HTML code to your website.<br><br>
  If you have any questions, simply reply to this email.
</p>
<p>
  Best regards<br>
  Sag and Can from Mapzy
<p>
