<div class="absolute z-30 bg-white inset-x-24 bottom-4 rounded p-4 flex flex-col justify-center items-center hidden" data-map-target="permissionBox">
  <div class="py-2 text-lg">
    Please grant location permission so we can show stores in your area or search for your city on the top.
  </div>
  <div class="w-full flex justify-center items-center py-2 space-x-6">
    <button class="w-1/6 button--main" data-action="click->map#requestPermission">Grant permission</button>
    <button class="w-1/6 button--secondary" data-action="click->map#hidePermissionBox">Hide</button>
  </div>
</div>