<div class="flex p-44">
  <form class="w-9/12 pl-6">
    <div class="flex flex-wrap items-baseline">
      <h1 class="text-4xl leading-7 font-bold text-indigo-700">
        Create a beautiful store locator in <span class="text-yellow-500">5 minutes</span>.
      </h1>
    </div>
    <div class="flex space-x-3 mb-4 text-sm font-semibold my-8">
      <div class="flex-auto flex space-x-6">
        <button class="w-1/4 h-9 flex items-center justify-center rounded-full
          bg-indigo-800 text-white" type="submit">
          <%= link_to "Get started", new_user_registration_path %>
        </button>
        <button class="w-1/4 h-9 flex items-center justify-center rounded-full
          bg-indigo-50 text-indigo-800" type="button">
          <%= link_to "Log in", new_user_session_path %>
        </button>
      </div>
    </div>
  </form>
</div>
