<div class="w-full h-screen flex justify-center items-center">
  <div>
    <div class="flex flex-wrap">
      <h1>
        Simple and pretty <span class="underline-red">store finder</span>
      </h1>
    </div>
    <div class="flex justify-center item-center mt-12">
      <%= link_to "Get started", new_user_registration_path, class: "w-1/3 button--main" %>
    </div>
  </div>
</div>
