<div class="w-full h-screen flex flex-col justify-center items-center">
  <h1 class="text-4xl mb-8">
    Simple, pretty <span class="underline-red">store locator</span>
  </h1>
  <%= link_to "Get started", new_user_registration_path, class: "w-1/6 button--main" %>
</div>
