<!-- Colors -->
<div class="w-32 flex-shrink-0 mt-6">
  <div class="h-10 flex flex-col justify-center">
    <div class="text-xl font-semibold text-gray-900">Colors</div>
  </div>
</div>
<div class="min-w-0 flex-1 grid grid-cols-5 2xl:grid-cols-10 gap-x-4 gap-y-3 2xl:gap-x-2">
  <div class="space-y-1.5">
    <div class="h-10 w-full rounded ring-1 ring-inset ring-black ring-opacity-0" style="background-color:#4338ca"></div>
    <div class="px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block">
      <div class="w-6 font-medium text-gray-900">.indigo-700</div>
      <div>#4338CA</div>
    </div>
  </div>
  <div class="space-y-1.5">
    <div class="h-10 w-full rounded ring-1 ring-inset ring-black ring-opacity-0" style="background-color:#3730a3"></div>
    <div class="px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block">
      <div class="w-9 font-medium text-gray-900">.indigo-800</div>
      <div>#3730A3</div>
    </div>
  </div>
  <div class="space-y-1.5">
    <div class="h-10 w-full rounded ring-1 ring-inset ring-black ring-opacity-0" style="background-color:#F59E0B"></div>
    <div class="px-0.5 md:flex md:justify-between md:space-x-2 2xl:space-x-0 2xl:block">
      <div class="w-6 font-medium text-gray-900">.yellow-500</div>
      <div>#312E81</div>
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="w-32 flex-shrink-0 mt-6">
  <div class="h-10 flex flex-col justify-center">
    <div class="text-xl font-semibold text-gray-900">Buttons</div>
  </div>
</div>
<div class="text-sm font-semibold">
  <div class="flex-auto flex space-x-6">
    <button class="w-1/6 h-9 flex items-center justify-center rounded-full
      bg-indigo-800 text-white">
      <%= link_to "Main option" %>
    </button>
    <button class="w-1/6 h-9 flex items-center justify-center rounded-full
      bg-indigo-50 text-indigo-800">
      <%= link_to "Secondary option" %>
    </button>
  </div>
</div>
