@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

/* Headings */
.h1 {
	@apply text-4xl leading-7 font-bold
}

.h1--indigo {
	@apply text-4xl leading-7 font-bold text-indigo-700
}

.h2 {
	@apply text-2xl leading-7 font-bold
}

.h2--indigo {
	@apply text-2xl leading-7 font-bold text-indigo-700
}

/* Buttons */
.button--main {
  @apply cursor-pointer rounded-full bg-indigo-700 text-white font-medium shadow
  h-12 flex items-center justify-center
}

.button--secondary {
	@apply cursor-pointer rounded-full bg-indigo-50 text-indigo-700
	 h-12 flex items-center justify-center
}


.button--top-menu {
	@apply cursor-pointer rounded-full text-gray-800 hover:bg-indigo-700 hover:text-gray-100
	py-2 px-2 md:mx-2
}

.button--bottom-menu {
	@apply cursor-pointer rounded-full bg-indigo-50 text-indigo-700
	hover:bg-indigo-700 hover:text-gray-100 h-12 flex items-center justify-center
}