<nav class="sticky bottom-4 z-50 flex justify-center">
  <%= link_to new_dashboard_map_location_path(@map.id) do %>
    <button class="button--sticky shadow-lg flex flex-col p-4">
      <span class="flex-1 text-5xl">+</span>
      <span class="flex-1 text-base">Add Location</span>
    </button>
  <% end %>
</nav>