<%= render "dashboard/layouts/main" do %>
  <div class="h-1/2 w-full md:h-full flex flex-row items-center justify-end">
    <div class="h-full w-full md:w-3/5">
      <%= render "shared/mapbox" %>
    </div>
  </div>
  <%= render partial: "dashboard/locations/form", locals: { title: "Edit Location "} %>
<% end %>