<%= render "dashboard/layouts/main" do %>
  <div class="w-full h-full flex flex-row items-center justify-end">
    <div class="w-3/5 h-full">
      <%= render "shared/mapbox" %>
    </div>
  </div>
 
  <%= render partial: "dashboard/locations/form", locals: { title: "New Location "} %>
<% end %>