<%= render "dashboard/layouts/main" do %>
  <div class="h-1/2 w-full md:h-full flex flex-row items-center justify-end">
    <div class="h-full w-full md:w-3/5">
      <%= render "shared/mapbox" %>
    </div>
  </div>
  <div class="absolute h-1/2 bottom-0 md:w-2/5 md:top-0 md:h-full overflow-y-scroll bg-white
          border-gray-200 border-l-2 border-t-2 border-b-2
            shadow-md rounded md:inset-x-0 z-20 p-6" >
    <div class="flex flex-row items-center justify-end w-full text-sm mb-4">
      <%= link_to "Bulk import locations", new_dashboard_map_location_import_path(@map),
        class: ""
        %>
    </div>
    <%= render partial: "dashboard/locations/form", locals: { title: "New Location "} %>
  </div>
<% end %>