<turbo-frame id="location_view">
  <div class="flex flex-col justify-center align-start p-8">
    <button class="text-left pointer text-sm">
      <%= link_to "Edit", edit_dashboard_map_location_path(map_id: @map.id, id: @location.id) %>
    </button>

    <button class="text-right pointer text-sm" data-action="click->map#hideLocationView">Close</button>
    <%= render "shared/location" %>
  </div>
</turbo-frame>