<turbo-frame id="side_panel">
  <div class="relative w-full flex-grow">
    <%= render "shared/location" %>
  </div>

  <div class="relative w-full mt-8">
    <div class="flex-auto flex space-x-6">
      <%= button_to "Delete", dashboard_map_location_path(map_id: @map.id, id: @location.id),
          data: { turbo_frame: "_top" },
          form: {
            data: { turbo_confirm: "Once deleted, it's deleted! Are you sure you want to delete this location?" },
            class: "w-1/2"
          },
          method: :delete,
          class: "w-full button--secondary"
      %>

      <%= link_to "Edit", edit_dashboard_map_location_path(map_id: @map.id, id: @location.id),
            data: { turbo_frame: "_top" },
            class: "w-1/2 button--main" %>
    </div>
  </div>
</turbo-frame>