<turbo-frame id="locations_show">
  <div class="w-full h-full p-8 flex flex-col overflow-y-scroll">
    <div class="relative w-full">
      <div class="flex flex-row justify-between mb-8">
        <%= link_to "Edit", edit_dashboard_map_location_path(map_id: @map.id, id: @location.id),
              target: "_top",
              class: "text-left pointer text-sm py-1" %>
        <a class="text-right pointer text-sm" data-action="map#hideLocationView">Close</a>
      </div>
    </div>

    <div class="relative w-full flex-grow">
      <%= render "shared/location" %>
    </div>

    <div class="relative w-full">
      <%= link_to "Delete", dashboard_map_location_path(map_id: @map.id, id: @location.id),
            data: { confirm: "Once deleted, it's deleted! Are you sure you want to delete this location?" },
            method: :delete,
            target: "_top",
            class: "text-left pointer text-sm" %>
    </div>
  </div>
</turbo-frame>