@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Custom Variables */
:root {
  --black: #000;
}

/* Override default focus colors for tailwindcss-forms
https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  color: var(--black);
  --tw-ring-color: var(--black);
  border-color: var(--black);
}

/* Base styles */
h1 {
  @apply text-3xl leading-7 font-bold
}

h2 {
  @apply text-2xl leading-7 font-bold
}

h3 {
  @apply text-xl leading-7 font-bold
}

i {
  @apply text-sm text-gray-800
}

a {
  text-underline-position: under;
  @apply no-underline cursor-pointer text-mapzy-red hover:text-mapzy-red-light font-semibold
}

p {
  @apply my-2
}

code {
  @apply font-mono text-sm bg-gray-100 py-1
}

.code--multiline {
  @apply p-4 rounded my-4 bg-gray-900 text-white
}

.code--multiline > code {
  @apply bg-transparent
}

/* Emphasis */
.underline-red {
  @apply border-b-4 border-mapzy-red-light
}

/* Flash messages */
.flash {
  @apply flex flex-row items-center justify-between w-full p-4 border-2 text-mapzy-violet bg-blue-50 rounded
}

/* Dashboard notifications */
.notification {
  @apply w-full p-2 border-2 rounded
}

.notification-error {
  @apply text-mapzy-red bg-red-50
}

.notification-info {
  @apply text-mapzy-violet bg-blue-50
}

/* Buttons */
.button--main {
  @apply cursor-pointer rounded-full bg-mapzy-red text-white font-medium shadow
  py-2 px-6 flex items-center justify-center no-underline hover:no-underline
    hover:bg-mapzy-red-light hover:text-white
}

.button--secondary {
  @apply cursor-pointer rounded-full bg-red-50 text-mapzy-red
    hover:bg-mapzy-red-light hover:text-white 
    py-2 px-6 flex items-center justify-center no-underline hover:no-underline
}

.button--top-menu {
  @apply mx-2 no-underline font-semibold text-black
}

.button--bottom-menu {
  @apply cursor-pointer rounded-full bg-mapzy-red text-white
    hover:bg-mapzy-red-light hover:text-white px-8 py-2 no-underline hover:no-underline
    flex items-center justify-center text-base font-semibold shadow-md
}

/* Forms */
.label--default {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2
}

.input--default {
  @apply block w-full rounded py-3 px-4 mb-1 leading-tight
}

.input-info {
  @apply text-gray-600 text-xs italic
}

.select--default {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  @apply pr-4 pl-2 rounded bg-white text-gray-700
}

.checkbox-label--default {
  @apply uppercase text-gray-700 text-xs
}

/* Mapbox */
.mapboxgl-ctrl-geocoder {
  border-width: 1px !important;
  width: 100% !important;
  max-width: none !important;
  padding-left: 30px !important;
  box-shadow: none;
  border-color: #6b7280;
}

.mapboxgl-ctrl-geocoder:focus-within {
  border-color: #000;
  --tw-ring-color: #000;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.mapboxgl-ctrl-geocoder--input {
  border-radius: .25rem;
  display: block;
  line-height: 1.25;
  width: 100%;
  box-shadow: none !important;
}

.jexcel {
  @apply text-sm;
}

.spreadsheet-error-row {
  @apply bg-blue-100;
}

.spreadsheet-error-cell {
  @apply bg-mapzy-violet;
}