<div class="w-full">
  <nav class="bg-white shadow-lg">
      <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
          <div class="flex justify-between items-center">
             <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                <a href="#">Mapzy</a>
             </div>
              <div class="md:hidden">
                  <button type="button" class="block text-gray-800 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                  </button>
              </div>
          </div>
          <div class="flex flex-col md:flex-row hidden md:block -mx-2">
              <a href="#" class="text-gray-800 rounded hover:bg-indigo-700 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Install Map</a>
              <a href="#" class="text-gray-800 rounded hover:bg-indigo-700 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Docs</a>
              <a href="#" class="text-gray-800 rounded hover:bg-indigo-700 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Help</a>
          </div>
      </div>
  </nav>
</div>